---
- name: Download Cryptomator.
  get_url:
    url: "https://github.com/cryptomator/cryptomator/releases/download/{{ cryptomator_version }}/cryptomator-{{ cryptomator_version }}-x86_64.AppImage"
    dest: "{{ ansible_env.HOME }}/.local/bin/cryptomator"
    mode: "0700"
    timeout: 20
    # will always download version fisrt to see if it changed
    # improvement: usa a CLI command to check - still does not exist
    # see: https://github.com/cryptomator/cryptomator/issues/1996
    force: true
